*::-moz-selection {
  background-color: rgba(98, 98, 98, 0.1); }

*::selection {
  background-color: rgba(98, 98, 98, 0.1); }

a:link,
a:hover,
a:active,
.btn:focus,
.btn:active:focus,
.btn-default:active:focus,
.btn-primary:active:focus,
.btn-info:active:focus,
.btn-success:active:focus,
.btn-warning:active:focus,
.btn-danger:active:focus {
  outline: none; }

html,
body {
  font-family: "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Microhei", "XinGothic CiticPress", "Microsoft Yahei", Arial, sans-serif; }

.parent {
  display: table; }

.middle {
  display: table-cell;
  vertical-align: middle; }

#login,
#changePasswd {
  margin-top: 120px; }

#set-prize,
#query-prize {
  margin-top: 60px; }
  @media screen and (max-width: 1024px) {
    #set-prize,
    #query-prize {
      margin-top: 90px; } }
  #set-prize .page-header,
  #query-prize .page-header {
    font-size: 26px; }
  #set-prize .panel-title,
  #query-prize .panel-title {
    font-size: 20px; }
  #set-prize .form-group,
  #query-prize .form-group {
    margin-bottom: 0; }
    @media screen and (max-width: 1024px) {
      #set-prize .form-group,
      #query-prize .form-group {
        padding-top: 10px; } }
  #set-prize .row,
  #query-prize .row {
    margin-bottom: 15px; }
    @media screen and (max-width: 1024px) {
      #set-prize .row,
      #query-prize .row {
        margin-bottom: 30px; } }

@media screen and (max-width: 768px) {
  .action-btn > div {
    margin-bottom: 10px; } }

#set-prize tr td:last-child {
  width: 120px; }

#query-prize .address {
  max-width: 150px; }

#query-prize table,
#set-prize table {
  text-align: center;
  font-size: 14px; }
  #query-prize table th,
  #set-prize table th {
    text-align: center; }

#query-prize .prize-place,
#set-prize .prize-place {
  font-weight: 700; }

.select-cat {
  padding-top: 15px;
  font-size: 14px; }

#query-search {
  position: absolute;
  right: 20px;
  top: 30px; }

#get-prize {
  position: absolute;
  width: 100vw;
  background: #fdedd4 url("../img/bg-min@2x.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#brand-logo {
  margin-top: 10px;
  width: 120px;
  height: auto; }
  @media screen and (min-width: 375px) {
    #brand-logo {
      width: 140px; } }
  @media screen and (min-width: 414px) {
    #brand-logo {
      width: 160px; } }

#congratulation {
  width: 75%;
  height: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: transparent url("../img/getprize.png") center center no-repeat;
  background-size: contain; }

.ground {
  position: fixed;
  bottom: 0;
  margin-left: -15px;
  width: 100%;
  height: 100%;
  background: transparent url("../img/groud@2x.png") center bottom no-repeat;
  background-size: contain; }

.red-bags {
  position: relative;
  background: transparent url("../img/red-bag@2x.png") center 15% no-repeat;
  background-size: 95%; }
  @media screen and (min-width: 375px) {
    .red-bags {
      background-position: center 30%; } }
  @media screen and (min-width: 414px) {
    .red-bags {
      background-position: center 150%; } }

.rule-icon img {
  position: absolute;
  top: 0;
  right: 10px;
  margin-right: 10px;
  margin-top: 20px;
  width: 20px; }

.prize-info,
.other-prizes {
  padding: 8px;
  text-align: center;
  border-radius: 1.4em;
  background-color: rgba(229, 60, 29, 0.3); }

.prize-info {
  margin-top: 1.5rem; }
  .prize-info h5 {
    color: #333;
    font-weight: 700; }
  .prize-info .prize-name {
    color: #f22f2f;
    font-size: 16px;
    font-weight: 700; }
  .prize-info .prize-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .prize-info img.prize {
    -webkit-flex-basis: 200px;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    max-width: 200px;
    width: 200px;
    max-height: 150px;
    height: 150px; }

.other-prizes {
  margin-top: 0.3em;
  font-size: 16px; }
  .other-prizes h6 {
    text-align: left;
    color: #f22f2f;
    font-weight: 700; }
  .other-prizes .prize-code {
    color: #333;
    text-align: center; }
  .other-prizes ul {
    color: #333;
    font-weight: 700;
    list-style-type: none;
    -webkit-padding-start: 0; }

.get-btn {
  margin-top: 10px;
  text-align: center; }
  .get-btn .btn-success {
    background-color: #187b3a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7); }

.partner {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center; }
  .partner .col-xs-3 {
    padding-left: 0;
    padding-right: 5px; }

#roll {
  width: 100%;
  height: 100vh; }
  #roll .modal-dialog {
    width: 100%;
    height: 100%; }
  #roll .modal-content {
    width: 100%;
    height: 90%; }
  #roll .modal-body {
    width: 100%;
    height: 65%; }
  #roll .main_bg {
    width: 100%;
    height: 100%;
    background: url("../img/main_bg.jpg") center center no-repeat;
    background-size: cover; }
  #roll .main {
    position: relative;
    width: 100%;
    height: 100%; }
  #roll .num_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: url("../img/num_mask.png") center 60% no-repeat;
    background-size: contain; }
  #roll .num_box {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    text-align: center; }
  #roll .roll-num {
    float: left;
    width: 25%;
    height: 35%;
    padding-bottom: 35%;
    background: url("../img/num.png") 0 0 repeat-y;
    background-size: cover; }
  #roll .btn {
    position: absolute;
    bottom: 7%;
    left: 50%;
    margin-top: 20px;
    margin-left: -42px;
    z-index: 9999; }
  #roll .partner {
    margin-top: 0;
    margin-bottom: 0; }

.my-prize {
  margin-top: 20px; }
  .my-prize .user-info {
    margin-bottom: 15px; }
  .my-prize .user-avatar {
    width: 60px;
    height: 60px;
    background-color: #fefefe; }
  .my-prize .username {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: 700;
    vertical-align: top; }
  .my-prize .prize-count {
    font-size: 16px;
    text-align: center;
    color: #ce1414; }
